[submodule "Sonar.UserProfile"]
	path = Sonar.UserProfile
	url = https://github.com/is-tech-y24-1/team-4-1.git
[submodule "Sonar.UserTracksManagment"]
	path = Sonar.UserTracksManagment
	url = https://github.com/is-tech-y24-1/team-4-2.git
